/* TODO: Separate into css modules by component */

@font-face {
  font-family: 'Cute Font';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cute-font-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Cute Font Regular'), local('CuteFont-Regular'),
       url('../fonts/cute-font-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cute-font-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cute-font-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cute-font-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cute-font-v7-latin-regular.svg#CuteFont') format('svg'); /* Legacy iOS */
}

.outer-container {
  font-family: 'Cute Font', cursive;
  text-align: center;
}

.menu-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 160px;
}

.item-container {
  display: inline-block;
  margin: 15px;
  border: 2px solid #e8e8e8;
  border-radius: 4px;
  padding: 10px;
}

.market-container {
  width: 100%;
}

.pet-form-container {
  position: fixed;
  z-index: 1000;
  width: 400px;
  height: 490px;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: white;
  border: 3px solid black;
  text-align: left;
}

.pets-container {
  display: inline-block;
  margin: 15px;
  padding: 20px;
}

.modal {
  z-index: 1000;
  position: absolute;
  text-align: left;
  width: 500px;
  height: 450px;
  border: 3px solid black;
  border-radius: 10px;
  background: white;
  margin: 0 auto;
  right: 0;
  left: 0;
  top: 0;
}

.acc-h1 {
  text-align: center;
  font-size: 4rem;
  margin-top: -2px;
}

.sign-in {
  margin-top: -50px;
}

.error-msg {
  margin-bottom: -10px;
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 10px;
  color: red;
}

.error-msg-credentials {
  position: absolute;
  top: 48px;
  left: 185px;
  font-size: 1.2rem;
}

.sell-btn {
  background: #f44b42;
  color: white;
  width: 60px;
  height: 20px;
  font-size: 1.2rem;
  line-height: 10px;
}

.pet-form-labels {
  text-align: left;
}

button {
  padding: 2px 10px;
  border-style: none;
  border-radius: 4px;
  font-size: 1.5rem;
  font-family: 'Cute Font', cursive;
}

img {
  width: 150px;
}

input {
  width: 300px;
  height: 30px;
  font-size: 1.4rem;
  margin-left: 30px;
  padding-left: 10px;
  border: 3px solid #e8e5e5;
}

input:focus {
  background: #d7f4f1;
}

label {
  font-size: 2rem;
  text-align: left;
  margin-left: 30px
}

#sign-in-modal {
  height: 350px;
}

#title {
  font-size: 5rem;
}

#market-text {
  margin-top: 100px
}

#adopt-btn {
  background-color: #ff5454;
  color: white;
  font-size: 2rem;
  padding: 10px;
}

#buy-btn {
  background-color: #ff5454;
  color: white;
  margin-top: -10px;
  margin-bottom: 10px;
  padding: 1px 20px;
}

#home-btn {
  padding: 1px 20px;
  background-color: #3bba18;
  color: white;
  font-size: 2rem;
}

#wallet-group {
  text-align: center;
}

#sign-in-btn {
  text-align: center;
  font-size: 1.5rem;
  padding: 2px 20px;
  background-color: #2d68bc;
  color: white;
}

#create-acc-btn {
  margin-left: 5px;
  background-color: #ff7b30;
  color: white;
}

#heart-title {
  width: 30px;
}

#close-modal-btn {
  position: absolute;
  bottom: 20px;
  right: 100px;
  background: #ff5b5b;
  color: white;
}

#enter-modal-btn {
  position: absolute;
  bottom: 20px;
  right: 15px;
  background: #4db52b;
  color: white;
  width: 80px;
  padding: 2px 10px;
  border-style: none;
  border-radius: 4px;
  font-size: 1.5rem;
  font-family: 'Cute Font', cursive;
  height: 33px;
}

#unauthorized {
  font-size: 3.5rem;
}

#login-buy {
  z-index: 1000;
  background: #41a8fc;
  position: fixed;
  color: white;
  border: 1px solid #41a8fc;
  border-radius: 4px;
  font-size: 2rem;
  bottom: 50px;
  left: 0;
  right: 0;
}

#emoji-hand {
  width: 20px;
}

/** KEY FRAME for cute duck **/
@keyframes dance {
  from {
    transform: rotate(25deg)
  } to {
    transform: rotate(-25deg)
  }
}

#cute-duck-img {
  animation: dance 1s infinite alternate;
  margin-top: 50px;
}

#sign-out-btn {
  margin-top: 15px;
  font-size: 1.2rem;
  background: #7a7a7a;
  color: white;
}

#pet-form-title {
  text-align: center;
}

#pet-name {
  font-size: 2rem;
}

#pet-age {
  margin-top: -40px;
  font-size: 1.2rem;
}

#pet-name-input {
  width: 200px;
  margin-left: 20px;
}

#animal-bio {
  height: 180px;
  width: 300px;
  margin-left: 20px;
  border: 3px solid #e8e5e5;
  font-size: 1.2rem;
  resize: none;
}

#adopt-form-btn {
  position: absolute;
  right: 100px;
  bottom: 25px;
  background: #ff5454;
  color: white;
}

#close-adopt-form {
  position: absolute;
  right: 30px;
  bottom: 25px;
}

#adopt-text-limit {
  position: absolute;
  font-size: 1rem;
  bottom: 50px;
  left: 22px;
}

#purchasing-div {
  z-index: 1000;
  background: #ff4f4f;
  position: fixed;
  color: white;
  border-radius: 4px;
  font-size: 2rem;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
}
